@import url("https://fonts.google.com/specimen/Kumbh+Sans");

:root{
  --primary: hsl(26, 100%, 55%);
  --primary-light: hsl(25, 100%, 94%);
  --secondary: hsl(0, 0%, 100%);
  --info: hsl(220, 13%, 13%);
  --gray-blue: hsl(220, 14%, 75%);
  --gray-blue-dark: hsl(219, 9%, 45%);
  --gray-blue-light: hsl(223, 64%, 98%);
  --backdrop: rgba(0, 0, 0, .7);
  --letter-spacing: 0.4px;
}


*, *::after, *::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body, html, .app {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Kumbh', sans;
}

.app {
  padding: 0px 100px;
}


@media screen and (max-width: 1255px) {
  .app {
    padding: 0px 50px;
  }
}


@media screen and (max-width: 545px) {
    .app {
      padding: 0px 10px !important;
    }
}